language: cpp
matrix:
  include:
    - os: linux
      sudo: required
      dist: bionic
      compiler:
        - gcc
      cache: ccache
      before_install:
        - >
          sudo apt-get install libssl1.0.0 zlib1g zlib1g-dev libssl-dev libusb-1.0-0 
          libusb-1.0-0-dev libdbus-1-3 libdbus-1-dev libbluetooth3 libbluetooth-dev 
          zlib1g zlib1g-dev git cmake g++ make libboost-all-dev autoconf 
          automake libtool bison libpcre3-dev -qq
        - |
          (
          rm -rf robotraconteur_build
          mkdir -p robotraconteur_build
          robotraconteur_build
          git clone https://github.com/robotraconteur/robotraconteur.git
          cd robotraconteur
          mkdir build
          cd build
          cmake .. -DBUILD_GEN=ON
          cmake --build . --config Release
          sudo cmake --build . --config Release --target install
          )
script:
  - mkdir -p build
  - cd build
  - cmake ..
  - cmake --build . --config Release
  - ctest . -C Release -V